body {
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); ;
    font-family: Arial, sans-serif;
}
.carta-usuario {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.tarea {
    margin-left: 20px;
}
.completada {
    color: green;
}
.no-completada {
    color: red;
}